<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${daoPackage}.${entityName}Dao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="${entityPackage}.${entityName}" >

#foreach ($column in $columns)
	<result column="$column.name" property="$column.fieldName"/>
#end
</resultMap>

<!-- table all fields -->
<sql id="Base_Column_List" >
 	<trim suffixOverrides="," >
#foreach ($column in $columns)
	 	$column.name,
#end 
	</trim>
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
	<trim  suffixOverrides="," >
#foreach ($column in $columns)
#if($column.javaType == 'String')
		<if test="$column.fieldName != null and $column.fieldName != '' " >
    		and $column.name =  #{$column.fieldName}
		</if>
#end 
#if($column.javaType != 'String')
		<if test="$column.fieldName != null " >
    		and $column.name =  #{$column.fieldName}
		</if>
#end
#end
	</trim>
</sql>

<!-- 添加方法 -->
<insert id="add" parameterType="Object" >
	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="$pk.fieldName">
		SELECT LAST_INSERT_ID() as $pk.name 
	</selectKey>
	insert into ${tableName}
	<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach ($column in $columns)
#if($column.javaType == 'String')
		<if test="$column.fieldName != null and $column.fieldName != '' " >
			$column.name,
		</if>
#end 
#if($column.javaType != 'String')
		<if test="$column.fieldName != null " >
			$column.name,
		</if>
#end
#if($column.javaType != 'String' and $column.name == 'create_time')
		<if test="$column.fieldName == null " >
			$column.name,
		</if>
#end
#end
 	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach ($column in $columns)
#if($column.javaType == 'String')
		<if test="$column.fieldName != null and $column.fieldName != '' " >
  			<![CDATA[  #{$column.fieldName}, ]]>
    	</if>
#end 
#if($column.javaType != 'String')
		<if test="$column.fieldName != null " >
  			<![CDATA[  #{$column.fieldName}, ]]>
    	</if>
#end
#if($column.javaType != 'String' and $column.name == 'create_time')
		<if test="$column.fieldName == null " >
			now(),
		</if>
#end
#end
	</trim>
</insert>

<!-- 更新-->  
<update id="update" parameterType="Object" >
	update ${tableName} set 
	<trim suffixOverrides="," >
#foreach ($column in $columns)
#if($column.javaType == 'String')
		<if test="$column.fieldName != null and $column.fieldName != '' " >
  			<![CDATA[  $column.name = #{$column.fieldName}, ]]>
    	</if>
#end 
#if($column.javaType != 'String')
		<if test="$column.fieldName != null " >
  			<![CDATA[  $column.name = #{$column.fieldName}, ]]>
    	</if>
#end
#end
	</trim> where $pk.name= #{$pk.fieldName}
</update>

<!-- 删除 -->
<delete id="delete" parameterType="Object">
	delete from ${tableName} where $pk.name= #{$pk.fieldName}
</delete>
 
<!-- 根据ID查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	from ${tableName} where $pk.name= #{$pk.fieldName}
</select>

<!-- 查询总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from ${tableName} 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询数据列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ${tableName} 
	<include refid="Example_Where_Clause"/>
	limit #{$startIndex},#{$pageSize}
</select>

<!-- 更新是否有效 -->
<update id="softDelete">
	update ${tableName} set 
	is_ok = #{$isOk} where $pk.name = #{$id}
</update>
<!-- *************************************自定义接口***************************************************** -->

</mapper>   